<!DOCTYPE html>
<html ng-app='Myapp'>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<!--Services-->
	<script type="text/javascript" src="Controller/ValidateService.js"></script>
	<!--Controllers-->
	<script type="text/javascript" src="Controller/ValidateController.js"></script>
</head>
<body ng-app='Myapp' ng-controller="testController">
	<input type="submit" value="List of Carrier" ng-click="handleData()"/>
		<h1>List of Carriers</h1>
		<div ng-repeat="p in posts">
			<pre>
				<h5>{{p.name}}</h5>
				<h2>{{p.code}}</h2>
				<p>{{p.picture}}</p>
			</pre>
			<hr/>
		</div>
</body>
</html>